[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tedchangwsib
[access "refs/for/refs/*"]
	read = group user/tedchangwsib
	push = group user/tedchangwsib
	label-Code-Review = -2..+2 group user/tedchangwsib
	label-Verified = -1..+1 group user/tedchangwsib
	rebase = group user/tedchangwsib
	removeReviewer = group user/tedchangwsib
	submit = group user/tedchangwsib
[access "refs/heads/*"]
	read = group user/tedchangwsib
	create = group user/tedchangwsib
	push = +force group user/tedchangwsib
	pushMerge = group user/tedchangwsib
[access "refs/tags/*"]
	push = group user/tedchangwsib
	push = +force group user/tedchangwsib
